/* Map styles */
#map {
    bottom: 0px;
    left: 20%;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 0;
}

/* Menu Pane styles */
#url {
    font-size: 95%;
}
.menuPane {
    border-left: 3px ridge darkslategrey;
    border-right: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 80%;
    height: 95%;
}

.filter {
    display: inline-flex;
    position: fixed;
    z-index: 1;
    margin-left: 50%;
    margin-right: auto;
    background-color: darkslategray;
    opacity: .8;
}

.filterText{
    display: inline-block;
    /*padding: 5px;*/
}

.submit{
    bottom: 0px;
    display: inline-block;
    /*padding: 5px;*/
}

.list {
    height: 90%;
}

.list :hover {
    background-color: rgba(255, 255, 0, 0.85);
    cursor: default;
}

.location {
    background-color: whitesmoke;
    border: 1px solid black;   
    font-family: "Gill Sans", sans-serif;
    font-size: 400vw;
    height: auto;
    word-wrap: hidden;
    /*
     display: block;
    padding: 10px;*/
}

/* InfoWindow styles */
.infoWindow {
    
}
.infoTitle {
    font-size: medium;
}

.infoContent {
    font-size: small;
}

/* Footer styles */
footer {
    background-color: darkslategrey;
    border-top: 5px outset darkslategrey;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 80%;
    height: 5%;
}

footer > span {
    display: block;
}

.footer-text {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    /*font-family: fantasy;*/
    font-size: medium;  
    color: white;
    padding-top: 5px;
}
